.filter {
	background: #eee;
	padding: 10px;
	margin-bottom: 10px;
}
tr {
	font-size: 10px;
}
.sold {
	background: rgba(129, 226, 147, 0.43);
	/*color: white;*/
}
td, th {
	text-align: center;
	padding: 0 2px;
}
.last-sold {
	border-left: 7px solid rgb(104, 150, 112);
}
.buttons-row {
	margin-bottom: 10px;
}